<div id="login-container">
    <h1>Member Login</h1>
    <form id="login-sub-container" method="POST" action="/login">
        <input class="login-entry-field" type="text" name="username" placeholder="username" max=40>
        <input class="login-entry-field" type="password" name="password" placeholder="password" max=40>
        <button class="login-submit-btn" type="submit">Login</button>
    </form>
</div>